.nav hr {
  width: 65%;
  margin: 0 auto;
}

.nav-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.nav-content a {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #fff;
}

.nav-content a img {
  transition: all 0.2s ease-in-out;
  color: #fff;
  width: 50px;
  margin-top: 5px;
  margin-left: 40px;
}

.nav-content a img:hover {
  color: #c1c1c1;
  opacity: 0.8;
  transform: scale(1.1);
  cursor: pointer;
}

.nav-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 30px;
  margin-bottom: 5px;
  list-style: none;
}

.nav-item {
  list-style: none;
  margin: 0px 30px;
  font-family: "Neou-Bold";
  color: #fff;
}

.nav-item:hover {
  color: #c1c1c1;
  cursor: pointer;
}

br {
  color: #fff;
}
