.contact {
  margin-top: 100px;
}

.contact-social {
  display: flex;
}

.contact-email {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  font-family: "Neou-Bold";
}

.contact-email li {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}

.contact-email li p {
  margin: 0px 30px;
  font-size: 28px;
}

.contact-email-title {
  color: #c1c1c1;
}

.contact-social {
  display: flex;
  justify-content: center;
}

.contact-social-item {
  margin: 30px 50px;
  transition: all 0.2s ease-in-out;
}

.contact-social-item:hover {
  color: #c1c1c1;
  opacity: 0.8;
  transform: scale(1.1);
}
