@font-face {
  font-family: "Neou-Thin";
  src: url("./neou//Neou-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Neou-Bold";
  src: url("./neou//Neou-Bold.otf") format("opentype");
}

body {
  background-color: #202020;
  font-family: "Neou-Bold";
  text-align: center;
  color: #fff;
  margin: 0;
}

*:visited {
  text-decoration: none;
}

*:link {
  text-decoration: none;
}

h2 {
  font-family: "Neou-Bold";
  font-size: 48px;
}
